<%= image_tag("logos/coinbase_commerce_logo.svg", :size => "190x26") %>
<p>
  <br />Continue to <strong>Coinbase Commerce</strong> to complete your payment with cryptocurrency.
  <br />After the payment is confirmed, you’ll be directed back here.
</p>


