<%= image_tag("logos/coinbase_commerce_logo.svg", :size => "190x26") %>
<p>
  You'll be redirected to Coinbase Commerce payment page. After completing the
  payment form you'll be back to the store.
</p>


